@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
body {
  font-family: "Exo 2", sans-serif !important;
}
.navbar {
  background-color: #222; 
  padding: 1rem 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-nav .nav-link {
  color: #ddd;
  margin-left: 1.5rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #fff;
}

.navbar-nav .nav-link.active {
  color: #0d6efd; 
  font-weight: 700;
}



.text-center {
  margin-top: 100px; /* để tránh bị che bởi navbar fixed */

}


.card {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  overflow: hidden;
  background-color: #003b46 !important; /* xanh biển sâu */
  color: #fbeeee !important; /* chữ sáng */
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 420px
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-body {
  padding: 1rem 1.2rem;
  text-align: left;
   display: flex;
  flex-direction: column;
  height: 100%;
   flex-grow: 1;
    justify-content: space-between;
  
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
background-color: #003b46 !important; /* xanh biển sâu */
color: #fbeeee !important; /* chữ sáng */
}

.card-text {
  font-size: 1rem;
     color: white !important;      
  margin-bottom: 1rem;
}

.card-button {
  background: linear-gradient(135deg, #7b4173 0%, #d95f02 100%) !important;
  color: #fff3e0 !important;
  border: 2px solid #a05197 !important;
  border-radius: 10px !important;
  padding: 12px 28px !important;
  font-weight: 700 !important;
  box-shadow: 0 4px 10px rgba(183,79,130,0.6), inset 0 2px 6px rgba(217,95,2,0.8) !important;
  text-shadow: 0 1px 2px rgba(123,65,115,0.8) !important;
  transition: all 0.3s ease !important;
  cursor: pointer !important;
  display: block !important;
  width: 100% !important;
  max-width: 250px !important;
  margin: 0 auto !important;
  text-align: center !important;
  align-self: flex-start !important;
}
.card-button:hover {
  background: linear-gradient(135deg, #d95f02 0%, #7b4173 100%) !important;
  box-shadow: 0 6px 14px rgba(217, 95, 2, 0.9), inset 0 3px 7px rgba(123, 65, 115, 1) !important;
  transform: translateY(-3px) !important;
}



/* Tiêu đề */
h1.mb-5 {
  font-size: 2.5rem;
    color: #4aa96c!important; /* Vàng nhạt ánh kim */
  font-weight: 700 !important;
}

body {
  background-color: #6A1B1A !important;
  color: #fbeeee !important;
  margin: 0 !important;
  padding: 30px !important;
}
